// Base
@import './base/reset';
@import './base/vars';
@import './base/base';

//Blocks

@import './blocks/header';
@import './blocks/nav';
@import './blocks/info';

body {
  font-family: $font-main;
  background-color: $dark;
  color: $white;
  font-size: 16px;
}

a {
  color: $white;
  transition: color 0.2s ease-in;
  &:hover {
    color: $accent;
  }
}
