@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500);

a {
  color: $white;
  transition: color 0.2s ease-in;

  &:hover {
    color: $accent;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1140px;
}
